---
import "@/styles/globals.css";
import LoginComponent from "@/components/Login";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page - Club de Ciencia de Datos</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <LoginComponent client:load />
  </body>
</html>
