---
import Header from "@/components/Header";
import Footer from "@/components/Footer";
---
export default function LandingPage() {
      return (
            <div className="flex flex-col min-h-screen">
                  <Header />
                        <main className="flex-1">
                                {/* Contenido principal */}
                                      </main>
                                            <Footer />
                                                </div>
      );
}
      )
}