---
import "@/styles/globals.css";
import ProblemsList from "../components/Problems/Problems";
import { ThemeProvider } from "@/context/ThemeContext";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Problemas - CodeMaster Pro</title>
  </head>
  <body>
    <ThemeProvider client:only="react">
      <ProblemsList client:only="react" />
    </ThemeProvider>
  </body>
</html>

<script>
  // Aplicar tema inicial
  const theme = localStorage.getItem("theme") || "light";
  document.documentElement.classList.toggle("dark", theme === "dark");
</script>
