---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import SignUp from "../components/Auth/SignUp";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page - Club de Ciencia de Datos</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Layout title="Sign Up - CodeMaster Pro">
      <SignUp client:load />
    </Layout>
  </body>
</html>
